---
import javascript from "../../assets/javascript.svg"
import swift from "../../assets/swift.svg";
import fullstack from "../../assets/fullstack.png";
import java from "../../assets/java.svg";
import next from "../../assets/next.svg";
import react from "../../assets/react.svg";
import node from "../../assets/node.svg";
import nuxt from "../../assets/nuxt.svg";
import tailwind from "../../assets/tailwind.svg";
import vue from "../../assets/vue.svg";
import html from "../../assets/html.svg";
import css from "../../assets/css.svg";
import crxjs from "../../assets/crxjs.svg";
import aws from "../../assets/aws.svg";
import vuetify from "../../assets/vuetify.svg";
import angular from "../../assets/angular.svg";
import astro from "../../assets/astro.svg";
import vite from "../../assets/vite.svg";
import solid from "../../assets/solid.svg";
import rxjs from "../../assets/rxjs.svg";
import vuex from "../../assets/vuex.png";
import ngrx from "../../assets/ngrx.svg";
import pinia from "../../assets/pinia.svg";
import material from "../../assets/material.svg";
---
<div class="services-container flex flex-col items-center">
  <h2 class="text-3xl font-bold mb-4 p-4">My Services</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 items-center justify-center p-8">

    <div class="p-4 bg-white rounded-lg shadow-md">
      <div class="flex items-center justify-center h-16 w-16 mx-auto mb-4 bg-transparent text-white rounded-full">
        <img src={javascript.src} alt="Frontend Web Development Icon">
      </div>
      <h3 class="text-xl font-semibold mb-2 text-center">Frontend Web Development</h3>
      <p class="text-gray-600">I have extensive experience in Frontend Web Development. You can reach out to me if you have a need for a skilled JavaScript developer to bring your web projects to life.</p>
    </div>


    <div class="p-4 bg-white rounded-lg shadow-md">
      <div class="flex items-center justify-center h-16 w-40 mx-auto mb-4 bg-transparent text-white rounded-full">
        <img class="w-96" src={fullstack.src} alt="Full Stack Web Development Icon">
      </div>
      <h3 class="text-xl font-semibold mb-2 text-center">Full Stack Web Development</h3>
      <p class="text-gray-600">I specialize in Full Stack web development, which means I can handle both the frontend and backend of your web applications. Let me bring your web projects to life with full functionality.</p>
    </div>

    <div class="p-4 bg-white rounded-lg shadow-md">
      <div class="flex items-center justify-center h-16 w-16 mx-auto mb-4 bg-transparent text-white rounded-full">
        <img src={swift.src} alt="IOS Development Icon">
      </div>
      <h3 class="text-xl font-semibold mb-2 text-center">IOS Development</h3>
      <p class="text-gray-600">While my primary expertise lies in web development, I also have experience in IOS app development. If you have IOS projects in mind, I can contribute my skills to help you bring your mobile app ideas to reality.</p>
    </div>

    <div class="p-4 bg-white rounded-lg shadow-md">
      <div class="flex items-center justify-center h-16 w-16 mx-auto mb-4 bg-transparent text-white rounded-full">
        <img src={crxjs.src} alt="Chrome Extension Development Icon">
      </div>
      <h3 class="text-xl font-semibold mb-2 text-center">Chrome Extension Development</h3>
      <p class="text-gray-600">I specialize in building Chrome extensions to enhance your web browsing experience. Whether you need a custom extension for productivity, automation, or any other purpose, I can create it for you.</p>
    </div>

  </div>
</div>


<div class="tech-stack">
  <h2 class="text-3xl font-bold mb-4 p-4 text-center">Tech Stack</h2>
  <div class="flex flex-row flex-wrap gap-4 items-center justify-center">
    <img class="w-[4.5rem]" src={html.src} alt="HTML Icon">
    <img src={css.src} alt="CSS Icon">
      <img src={javascript.src} alt="JavaScript Icon">
      <img src={java.src} alt="Java Icon">
      <img src={node.src} alt="Node Icon">
      <img src={swift.src} alt="Swift Icon">
      <img src={vue.src} alt="Vue Icon">
      <img src={react.src} alt="Vue Icon">
      <img src={aws.src} alt="Vue Icon">
      <img src={astro.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={solid.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={angular.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={next.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={nuxt.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={tailwind.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={vuetify.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={vite.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={rxjs.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={vuex.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={ngrx.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={pinia.src} alt="Vue Icon">
      <img class="w-[4.5rem]" class="w-[4.5rem]" src={material.src} alt="Vue Icon">
      <img class="w-[4.5rem]" src={crxjs.src} alt="Vue Icon">
  </div>
</div>
  
<style>
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.services-container .p-4 {
  animation: fadeIn 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
  animation-fill-mode: forwards; 
}

.services-container .p-4:nth-child(1) {
  animation-delay: 0.2s;
}

.services-container .p-4:nth-child(2) {
  animation-delay: 0.6s;
}

.services-container .p-4:nth-child(3) {
  animation-delay: 0.4s;
}


</style>